@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

@media screen and (min-width: 1440px) {
  h1,
  h2 {
    font-size: 3rem;
  }
}

#errorMsg,
#validMsg,
#submitMsg {
  display: none;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  text-align: left;
}

body {
  width: 23.4375rem;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  body {
    width: 90rem;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: round;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 830px 610px;
        grid-template-columns: 830px 610px;
    -ms-grid-rows: 160px 640px;
        grid-template-rows: 160px 640px;
        grid-template-areas: "logo image" "main image";
  }
}

body header {
  margin: 2rem;
}

@media screen and (min-width: 1440px) {
  body header {
    grid-area: logo;
    padding: 0;
    margin-top: 4rem;
    margin-left: 10.25rem;
  }
}

body img {
  content: url("../images/hero-mobile.jpg");
}

@media screen and (min-width: 1440px) {
  body img {
    content: url("../images/hero-desktop.jpg");
    grid-area: image;
  }
}

body main {
  width: 23.4375rem;
  margin: 2rem;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  body main {
    grid-area: main;
    margin-top: 2rem;
    margin-left: 10.25rem;
    text-align: left;
  }
}

body main h2 {
  padding-top: 1rem;
  font-weight: 300;
  color: #ce9797;
}

body main h1 {
  font-weight: 600;
  color: #413a3a;
}

body main p {
  margin-top: 2rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #ce9797;
  line-height: 1.3rem;
}

@media screen and (min-width: 1440px) {
  body main p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

body main .inputBox {
  margin-top: 2.375rem;
  height: 3.125rem;
  width: 100%;
  border: 1px solid #ce9797;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .inputBox input {
  width: 60%;
  border: none;
  color: #ce9797;
  margin-left: 1rem;
  font-size: 0.9rem;
}

body main .inputBox #errorIcon {
  display: none;
}

body main .inputBox button {
  height: 103%;
  width: 4rem;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
}

body main .inputBox button:active {
  background-image: linear-gradient(135deg, #fdeded, #f4b8b8);
}

body main #errorMsg {
  color: #f96262;
}

body main #validMsg,
body main #submitMsg {
  color: green;
}
/*# sourceMappingURL=main.css.map */